/*
 * Colours
*/
$black-color: #111111;
$white-color: #ececec;

// A map of breakpoints.
$breakpoints: (
  // 448px
  xxs: 28rem,
  // 576px
  xs: 36rem,
  // 624px
  xss: 39rem,
  // 688px
  ss: 43rem,
  // 800px
  sm: 50rem,
  // 1024px
  md: 64rem,
  // 1200px
  lg: 75rem,
  // 1280px
  full: 80rem,
  // 1360px
  fullPlus: 85rem
);