<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title-prefix }} | {{site.title}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}">
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
    <script defer src="{{ '/assets/js/font-awesome.js' | url }}"></script>
</head>
<body>

    {% include "_components/hero.njk" %}

    {% include "_components/header.njk" %}
    
    <main>
        {{ content | safe }}
    </main>

    {% include "_components/footer.njk" %}

    <script src="{{ '/assets/js/index.js' | url }}"></script>
</body>
</html>