<section class="nav">
    <nav class="nav__container max-width">
        <button class="hamburger hamburger--elastic burger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <a href="#top" class="nav__container__logo">
            <img src="{{ '/assets/images/logo.png' | url }}" alt="Logo of Jan Deschacht">
        </a>

        <ul class="nav__container__list">
            <li class="nav__container__list__item nav-link">
                <a class="nav__container__list__item__link ab" href="#about">About</a>
            </li>
            <li class="nav__container__list__item nav-link">
                <a class="nav__container__list__item__link sk" href="#skills">Skills</a>
            </li>
            <li class="nav__container__list__item nav-link">
                <a class="nav__container__list__item__link pr" href="#projects">Projects</a>
            </li>
            <li class="nav__container__list__item nav-link">
                <a class="nav__container__list__item__link co" href="#contact">Contact</a>
            </li>
        </ul>
    </nav>

    <ul class="nav__mobile__list">
        <li class="nav__mobile__list__item nav-link-mobile">
            <a class="nav__mobile__list__item__link ab" href="#about">
                <p>About</p>
            </a>
        </li>
        <li class="nav__mobile__list__item nav-link-mobile">
            <a class="nav__mobile__list__item__link sk" href="#skills">
                <p>Skills</p>
            </a>
        </li>
        <li class="nav__mobile__list__item nav-link-mobile">
            <a class="nav__mobile__list__item__link pr" href="#projects">
                <p>Projects</p>
            </a>
        </li>
        <li class="nav__mobile__list__item nav-link-mobile">
            <a class="nav__mobile__list__item__link co" href="#contact">
                <p>Contact</p>
            </a>
        </li>
    </ul>
</section>