<section class="hero">
    <div class="hero__wrapper max-width">
        <div class="test">
            <img src="{{ '/assets/images/hero.png' | url }} " alt="Logo Jan Deschacht and hero">
        </div>


        <div class="scroll">
            <a class="scroll__container" href="">
                <i class="fas fa-chevron-down first"></i>
                <i class="fas fa-chevron-down second"></i>
                <i class="fas fa-chevron-down third"></i>
            </a>
        </div>
    </div>
    {# <div class="hero__wrapper">
        <div class="hero__wrapper__container">
            <div class="hero__wrapper__container__img">
                <img src="./assets/images/personal_logo_no-padding-04.png" alt="Logo of Jan Deschacht">
            </div>

            <div class="hero__wrapper__container__title">
                <h1>Jan Deschacht</h1>

                <h2>Front-end Developer</h2>
            </div>
        </div>

        <div class="hero__wrapper__img">
            <img src="./assets/images/hello1.png" alt="">
        </div>
    </div> #}

</section>