<section class="hero" id="top">
    <div class="hero__wrapper max-width">
        <div class="hero__wrapper__logo">
            <img src="{{ '/assets/images/hero.png' | url }} " alt="Logo Jan Deschacht and hero">
        </div>

        <a href="#about" class="hero__wrapper__scroll">
            <div class="hero__wrapper__scroll__container" href="#about">
                <i class="fas fa-chevron-down first"></i>
                <i class="fas fa-chevron-down second"></i>
                <i class="fas fa-chevron-down third"></i>
            </div>
        </a>
    </div>
</section>